.thanks
    margin-top: 60px
    margin-bottom: 60px
    @media screen and (max-width: $xs-max)
        margin: 48px 0
        flex-grow: 1
        display: flex
        align-items: center
    &__content
        display: flex
        align-items: center
        @media screen and (max-width: $xs-max)
            flex-direction: column
            align-items: flex-start
    &__icon
        width: 80px
        height: 80px
        min-width: 80px
        min-height: 80px
        margin-right: 24px
        @media screen and (max-width: $xs-max)
            margin-right: 0
            width: 48px
            height: 48px
            min-height: 48px
            min-width: 48px
            margin-bottom: 8px
        svg, img
            width: 100%
            height: 100%
            object-fit: contain
    &__title
        font-size: 24px
        line-height: 33px
        color: #303030
        font-weight: 700
        @media screen and (max-width: $xs-max)
            font-size: 18px
            line-height: 24px
    &--white
        .thanks__title
            color: #fff
