{% load feedback_tags %}
<form action="{% url 'ajax_feedback' key=form.get_settings_key %}"
      method="post" id="id_feedback_form_{{ form.get_settings_key }}"
      class="form feedback-form {{ form.get_settings_key }}" novalidate>

    {% csrf_token %}
    {{ form.message_ }}
    {{ form.flag }}
    {{ form.image_url }}

    <div class="form__grid">
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.name.errors %}error{% endif %}">
                <span class="input__info">
                    {{ form.name.label }}
                </span>
                <div class="input__content input">
                    {{ form.name }}
                </div>
            </label>
        </div>
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.phone.errors %}error{% endif %}">
                <span class="input__info">
                    {{ form.phone.label }}
                </span>
                <div class="input__content input">
                    {{ form.phone }}
                </div>
            </label>
        </div>
        <div class="form__item form__grid-12">
            <label class="input__label {% if form.message.errors %}error{% endif %}">
                <span class="input__info">
                    {{ form.message.label }}
                </span>
                <div class="input__content input">
                    {{ form.message }}
                </div>
            </label>
        </div>
    </div>

    <div class="form__switcher">
        {% include 'parts/figures_captcha.html' %}
    </div>

    {% if chunks.form_politica.content %}
        <div class="form__privacy">
            <div class="default-checkbox {% if form.confirm.errors %}error{% endif %}">
                <label class="default-checkbox__label">
                    <input class="default-checkbox__input" type="checkbox" name="want_similar-confirm" required="" id="id_want_similar-confirm" {% if form.confirm.data %}checked{% endif %}>
                    <div class="default-checkbox__content">
                        <div class="default-checkbox__fake">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="11px" viewBox="0 0 14 11" version="1.1">
                                <title>Выбрать</title>
                                <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="КАРТОЧКА-товара-Однопольная---1" transform="translate(-819.000000, -945.000000)" stroke="#303030" stroke-width="2">
                                        <g id="Вид-внтури" transform="translate(766.000000, 349.000000)">
                                            <g id="Отделка-внутри" transform="translate(0.000000, 526.000000)">
                                                <g id="Рисунок-внутри" transform="translate(0.000000, 28.000000)">
                                                    <g id="Float" transform="translate(50.000000, 36.000000)">
                                                        <polyline id="Check" points="4.5 11.5 8 15 16 7"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="default-checkbox__text form__privacy-text">
                            {{ chunks.form_politica.content }}
                        </div>
                    </div>
                </label>
            </div>
        </div>
    {% endif %}

    <div class="form__info">
        * — Поля, обязательные для заполнения
    </div>

    <div class="form__bottom">
        <button class="btn btn--full btn--white" type="submit">
            Отправить
        </button>
    </div>
</form>
