.default-page
    &__top + &__menu
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__top + &__middle
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__top + &__logos
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__top + &__bottom
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px

    &__menu + &__middle
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__menu + &__logos
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__menu + &__bottom
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px

    &__middle + &__logos
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__middle + &__bottom
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px

    &__logos + &__bottom
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px

    &__sidebar
        @media screen and (max-width: $md-max)
            width: 100%
    &__content
        width: 100%
    &__menu
        position: relative
        @media screen and (max-width: $xs-max)
            width: 100%