.gallery-page
    &__top + &__list
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__top + &__bottom
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__list + &__bottom
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__item + &__item
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px

    &__item
        &-title
            margin-top: 0
            margin-bottom: 40px
            @media screen and (max-width: $md-min)
                margin-bottom: 32px

