.letter
    &__top + &__form
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__top + &__bottom
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__form + &__bottom
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
