.other-page
    &__top + &__menu
        margin-top: 60px
        @media screen and (max-width: $md-min)
            margin-top: 48px
    &__text
        max-width: 488px
        @media screen and (max-width: $md-min)
            margin-bottom: 28px
            max-width: 100%