{% load catalog_tags attachment_tags custom_catalog_tags %}
{% if section_list %}
    <div class="header__submenu-bg">
        <div class="header__submenu-container">
            {# Разделы каталога отсортированы по типу изделия: Двери/Люки/Ворота #}
            <div class="header__submenu-min">
                <ul class="header__submenu">
                    {% for type, children in section_list.items %}
                        <li class="header__submenu-item menu-level-2" data-menu="menu{{ forloop.counter }}">
                            <div class="header__submenu-link">
                                {{ type }}
                                <span class="header__submenu-icon">
                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_401:2)">
                                            <g opacity="1">
                                                <g opacity="1">
                                                    <g opacity="1">
                                                        <path opacity="1" d="M1.5 7.49988L4.5 4.49988L1.50021 1.50009" stroke="white" stroke-width="1.5"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_401:2">
                                                <rect width="8" height="5" fill="white" transform="translate(0.5 8.49988) rotate(-90)"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="header__submenu-big">
                {% for type, children in section_list.items %}
                    <ul class="header__bigmenu" data-target="menu{{ forloop.counter }}">
                        {% for object in children %}

                            {# Отображение раздела/категории в главном меню #}
                            {% with products=object.get_products_count %}
                            {% if products or object.tree.get.content_type.model == 'category' %}
                            <li class="header__bigmenu-item">
                                {# Изображение раздела 1-го уровня #}
                                {% get_images for object as images %}
                                {% if images %}
                                    <div class="header__bigmenu-preview">
                                        <img class="header__bigmenu-img" src="{{ images.0.display.url }}" alt="object.title" title="object.title">
                                    </div>
                                {% endif %}
                                {% if object.tree.get.content_type.model == 'section' %}
                                    <div class="header__bigmenu-links">
                                        <a class="header__bigmenu-link" href="{{ object.get_absolute_url }}">
                                            {{ object.long_title|default:object.title }}
                                            <span>({{ products }})</span>
                                        </a>
                                        {# Найти дочерние разделы/категории #}
                                        {% get_catalog_menu_items for object as children %}
                                        {% if children %}
                                            {% include 'catalog/parts/catalog_main_menu_items.html' %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
