{% extends 'base.html' %}
{% load seo_tags %}

{% block seo %}
    {% seo object title_default='Поиск по сайту' %}
{% endblock %}

{% block content_title %}Поиск по сайту{% endblock %}

{% block content %}
    <section class="section-default section-default--top content-anim content-anim--opacity">
        <div class="container">
            {% if chunks.yandex_search_form.content %}
                <div class="search-form">
                    {{ chunks.yandex_search_form.content }}
                </div>
            {% endif %}
            {% if chunks.yandex_search_results.content %}
                <div class="search-results">
                    {{ chunks.yandex_search_results.content }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
