{% extends 'base.html' %}
{% load pages_tags custom_news_tags catalog_tags custom_catalog_tags  %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block title %}{% block content_title %}Карта сайта{% endblock %}{% endblock %}

{% block content %}
	<section class="section-default section-default--top">
		<div class="container">
			<ul class="sitemap">
				{% load_pages %}
				{% for page in pages_navigation %}
					{% pages_menu page %}
				{% endfor %}
				<li class="sitemap__item">
					{% get_news as news %}
					<a class="sitemap__item-link" href="/news/">
						<span>
							Новости
						</span>
					</a>
				</li>
				{% get_root as root %}
				{% if root %}
					{% get_catalog_menu_items for root as tree_list %}
					<li class="sitemap__item">
						<a class="sitemap__item-link" href="{{ root.get_absolute_url }}">
							{% if tree_list %}
								<span class="sitemap__item-icon _slide _slide-parent"></span>
							{% endif %}
							<span>
								Каталог
							</span>
						</a>
							{% if tree_list %}
								{% include 'catalog/tree_sitemap.html' %}
							{% endif %}
					</li>
				{% endif %}
			</ul>
		</div>
	</section>
{% endblock %}