.loader
	display: block
	position: relative
	width: 100px
	height: 100px
	border-radius: 50%
	border: 3px solid transparent
	border-top-color: #93C718
	animation: spin 2s linear infinite
	margin: auto
	&:before
		content: ""
		position: absolute
		top: 5px
		left: 5px
		right: 5px
		bottom: 5px
		border-radius: 50%
		border: 3px solid transparent
		border-top-color: #E2E2E2
		animation: spin 3s linear infinite

	&:after
		content: ""
		position: absolute
		top: 15px
		left: 15px
		right: 15px
		bottom: 15px
		border-radius: 50%
		border: 3px solid transparent
		border-top-color: #93C718
		animation: spin 1.5s linear infinite

@keyframes spin
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(360deg)

