{% load feedback_tags %}
<form action="{% url 'ajax_feedback' key=form.get_settings_key %}"
      method="post" id="id_feedback_form_{{ form.get_settings_key }}"
      class="feedback-form {{ form.get_settings_key }}" novalidate>

    {% csrf_token %}
    {{ form.message_ }}

    <div class="sign__grid">
        <div class="sign__grid-item">
            <div class="sign__grid-input">
                <label class="input__label {% if form.name.errors %}error{% endif %}">
                    <span class="input__info input__info--white">
                        {{ form.name.label }}
                    </span>
                    <div class="input__content input input--white">
                        {{ form.name }}
                    </div>
                </label>
            </div>
            <div class="sign__grid-input">
                <label class="input__label {% if form.phone.errors %}error{% endif %}">
                    <span class="input__info input__info--white">
                        {{ form.phone.label }}
                    </span>
                    <div class="input__content input input--white">
                        {{ form.phone }}
                    </div>
                </label>
            </div>
        </div>

        <div class="sign__grid-item">
            <div class="sign__privacy">
                <div class="default-checkbox {% if form.confirm.errors %}error{% endif %}">
                    <label class="default-checkbox__label">
                        <input class="default-checkbox__input" type="checkbox" name="metering_call-confirm" required="" id="id_metering_call-confirm" {% if not form.confirm.errors %}checked{% endif %}>
                        <div class="default-checkbox__content">
                            <div class="default-checkbox__fake">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="11px" viewBox="0 0 14 11" version="1.1">
                                    <title>Выбрать</title>
                                    <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="КАРТОЧКА-товара-Однопольная---1" transform="translate(-819.000000, -945.000000)" stroke="#303030" stroke-width="2">
                                            <g id="Вид-внтури" transform="translate(766.000000, 349.000000)">
                                                <g id="Отделка-внутри" transform="translate(0.000000, 526.000000)">
                                                    <g id="Рисунок-внутри" transform="translate(0.000000, 28.000000)">
                                                        <g id="Float" transform="translate(50.000000, 36.000000)">
                                                            <polyline id="Check" points="4.5 11.5 8 15 16 7"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="default-checkbox__text sign__privacy-text">
                                {{ chunks.privacy_policy.content }}
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="sign__btn">
                <button type="submit" class="btn btn--border">
                    <span>
                        Отправить заявку
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
