{% load custom_attachment_tags attachment_tags pages_tags %}

<a class="article" href="{{ obj.get_absolute_url }}">
    {% get_images for obj as images %}
    {% with images=images|role:'обложка' %}
        {% if images %}
        <div class="article__preview">
            <img src="{{ images.0.thumb300.url }}" alt="{{ obj.title }}" title="{{ obj.title }}">
        </div>
        {% endif %}
    {% endwith %}
    <div class="article__content">
        {% if obj.title %}
            <div class="article__title">
                {{ obj.title }}
            </div>
        {% endif %}
        {% if article_description %}
            {% get_content obj 'main_content' as preview %}
            {% if preview %}
                <div class="article__description">
                    {{ preview|safe|striptags }}
                </div>
            {% endif %}
        {% endif %}
    </div>
</a>
