{% extends 'catalog/base.html' %}
{% load base_tags attachment_tags custom_catalog_tags treemenus_tags pages_tags %}

{% block breadcrumbs %}
    <a class="breadcrumbs__item" href="/">
        <span>Главная</span>
    </a>
    <span class="breadcrumbs__item">
        /
    </span>
{% endblock %}

{% block content_title %}
    {% get_fast_filter_page as page %}
    {% get_content page 'long_title' as long_title %}
    {{ long_title|default:'Подбор дверей по параметрам' }}
{% endblock %}

{% block content %}
    {% get_root as object %}
    <section class="section-default section-default--top">
        <div class="container">
            <div class="default-page page-sidebar">
                <div class="default-page__sidebar">
                    {% include 'catalog/parts/catalog_left_menu.html' %}
                    <div class="modal-selection mfp-hide mfp-anim" id="fast-filter-modal">
                        <div class="container modal-selection__container">
                            <div class="modal__header modal__header--center-md modal__header--left-xs">
                                <h3 class="modal__title modal__title--white">
                                    Быстрый подбор двери
                                </h3>
                                <span class="modal__subtitle">
                                    по параметрам
                                </span>
                            </div>
                            {% show_filter_form ajax=True %}
                        </div>
                        <button class="modal-selection__close close-modal-noscroll">
                            <svg width="33" height="15" viewBox="0 0 33 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.998 14.5001L0.998043 7.50012L14.998 0.50012V6.50012L33.998 6.50012V8.50012L14.998 8.50012L14.998 14.5001Z" fill="#93C718"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="default-page__content">
                    <div class="catalog__panel filter__panel">
                        <div class="filter__panel-sticky">
                            {% include 'catalog/parts/short_fast_filter_panel.html' %}
                        </div>
                    </div>

                    <div class="catalog__grid product_list_ajax">
                        {% include 'catalog/parts/block_cards.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% get_fast_filter_page as page %}
    {% if page %}
        {% get_content page 'bottom_content' as bottom_content %}
        {% if bottom_content %}
        <section class="section-default section-default--top">
            <div class="container">
                <div class="placeholder mfp-gallery">
                    {% show_block_content bottom_content %}
                </div>
            </div>
        </section>
        {% endif %}

        {% get_content page 'gallery_id' as gallery_id %}
        {% if gallery_id %}
            {% get_page gallery_id as gallery %}
            {% get_images for gallery as images %}
            {% if images %}
                <section class="section-default section--grey gallery__slider--margin mfp-gallery">
                    {% include 'parts/door_samples.html' %}
                </section>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
