{% extends 'catalog/base.html' %}
{% load static treemenus_tags pages_tags base_tags feedback_tags custom_catalog_tags attachment_tags %}

{% block header-options %}header--static-xs{% endblock %}
{% block left_menu %}{% endblock %}

{% block title_section %}
<section class="section-title section-title--full">
    <div class="container">
        <div class="title-content title-content--full">
            <div class="title title--nodots title--full">
                <span class="title--full-text">
                    {% block content_title %}
                        {% get_inherited_field object 'item_type' as item_type %}
                        {% if item_type.fire_resistance.name %}
                            {{ item_type.fire_resistance.name }}
                        {% endif %}
                    {% endblock %}
                </span>

                {% get_doc_types as doc_types %}
                {% if doc_types %}
                    <div class="logos__fulltitle">
                        {% include 'parts/logos.html' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
    {% with side_images=object.images parameters=object.get_parameters add_parameters=object.get_add_parameters %}
    {% get_inherited_field object 'item_type' as item_type %}
    {% get_inherited_field object 'show_one_side' as  show_one_side %}
    {% get_inherited_field object 'show_interior_sample' as  show_interior_sample %}
    {% get_inherited_field object 'delivery_moscow' as  delivery_moscow %}
    {% get_inherited_field object 'delivery_russia' as  delivery_russia %}
    {% get_inherited_field object 'installation' as  installation %}
    {% get_inherited_field object 'service' as  service %}
    {% get_inherited_field object 'box_size' as  box_size %}

        <div class="container product-sections product-grid">
            <section class="section-default section-default--top product__section product__section-view product-grid-8 product-grid-12--xs">
                <div class="product__top scroll-custom-x-hidden--xs">
                    {% if side_images %}
                        <div class="product__item product-grid">
                            {% if show_one_side != 'inside' %}
                                <div class="product__view product-view-change product-grid-6">
                                    <div class="product__view-dimensions view-dimensions">
                                        {% if item_type %}
                                            <div class="view-dimensions__item view-dimensions__item--top">
                                                b= {{ item_type.width|default:'0' }} мм
                                            </div>
                                            <div class="view-dimensions__item view-dimensions__item--left">
                                                h= {{ item_type.height|default:'0' }} мм
                                            </div>
                                        {% endif %}
                                        <div class="product__view-img mfp-gallery">
                                        {% for object in side_images %}
                                            {% if object.outside %}
                                                <a class="product__view-link product-change-img {% if forloop.first %}active{% endif %}" href="{{ object.outside.watermarkpicture.url }}" data-product-color="{{ forloop.counter }}" data-product-drawing-title="{{ object.outside.print|default:'нет' }}">
                                                    <div class="product__view-link__img">
                                                        <img src="{{ object.outside.productview.url }}" alt="{{ object.color.name }}" title="{{ object.color.name }}">
                                                    </div>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    </div>
                                    <a class="product__view-type view-outside">
                                        вид снаружи
                                    </a>
                                    <div class="product__view-drawing">
                                        Рисунок:
                                        <span>
                                            {{ side_images.0.outside.print|default:'нет' }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if show_one_side != 'outside' %}
                                <div class="product__view product-view-change product-grid-6">
                                    <div class="product__view-img mfp-gallery">
                                        {% for object in side_images %}
                                            {% if object.inside %}
                                                <a class="product__view-link product-change-img {% if forloop.first %}active{% endif %}" href="{{ object.inside.watermarkpicture.url }}" data-product-color="{{ forloop.counter }}" data-product-drawing-title="{{ object.inside.print|default:'нет' }}">
                                                    <div class="product__view-link__img">
                                                        <img src="{{ object.inside.productview.url }}" alt="{{ object.color.name }}" title="{{ object.color.name }}">
                                                    </div>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <a class="product__view-type view-inside">
                                        вид внутри
                                    </a>
                                    <div class="product__view-drawing">
                                        Рисунок:
                                        <span>
                                            {{ side_images.0.inside.print|default:'нет' }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </section>

            <aside class="section-default section-default--top product__section product__section-sidebar product-grid-4 product-grid-12--xs">
                <div class="product__sidebar">
                    <div class="product__sidebar-content">
                        <div class="product__sidebar-header">
                            <h1 class="product__sidebar-title">
                                {{ object.long_title|default:object.title }},
                                {% if item_type.fire_resistance %}
                                    {{ item_type.fire_resistance }},
                                {% endif %}
                                {# Артикул #}
                                {{ object.get_vendor_code }}
                            </h1>

                            {% if item_type.docs.all %}
                                <div class="product__sidebar-info">
                                    {% for doc in item_type.docs.all %}
                                    {% if doc.gost_number %}
                                        {{ doc.gost_number }}
                                    {% endif %}
                                    {% if doc.tu_number %}
                                        {{ doc.tu_number }}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if side_images %}
                            <div class="product__sidebar-color view-color">
                                <div class="view-color__title">
                                    Отделка:
                                    <div class="view-color__text">
                                        <span>{{ side_images.0.color.name }}</span> {{ object.facing|default:'' }}
                                    </div>
                                </div>
                                <ul class="view-color__list product-change-color-list">
                                    {% for object in side_images %}
                                        <li class="view-color__item product-change-color {% if forloop.first %}active{% endif %}" data-product-color="{{ forloop.counter }}" data-product-color-title="{{ object.color.name }}" {% if object.color.color %}style="background: {{ object.color.color }};"{% endif %}>
                                            {% if object.color.image and not object.color.color %}
                                                <img src="{{ object.color.image.url }}" alt="{{ object.color.name }}">
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            <ul class="product__sidebar-specifications">
                                {% if parameters %}
                                    {% for param in parameters %}
                                        {% if param.property.show_on_item_desc and param.value %}
                                            <li>
                                                {{ param.property }}:
                                                <span>
                                                    {{ param.value|lower }}
                                                </span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <li>
                                    Размер коробки:
                                    <span class="product__size">
                                        {{ box_size|default:'950 x 2050' }} мм
                                    </span>
                                </li>
                                <li>
                                    Изготовление:
                                    <span class="product__term">
                                        {{ object.production_time }} часов
                                    </span>
                                </li>
                                <li>
                                    Гарантия на дверь:
                                    <span>
                                        {{ object.guarantee }} лет
                                    </span>
                                </li>
                            </ul>

                            <div class="product__sidebar-bottom">
                                <div class="product__sidebar-footer product__sidebar-footer--sticky">
                                    <div class="product__price" data-original-price="{{ object.price }}">
                                        <div class="product__price-info">
                                            {% if object.price %}
                                                <span>
                                                    {{ object.price|price_format }}
                                                </span> руб.
                                                {% if object.price_per_square %}/м<sup>2</sup>{% endif %}
                                            {% else %}
                                                <div class="product__price-info__text">
                                                    Цена по запросу
                                                </div>
                                            {% endif %}
                                        </div>

                                        {# Всплывающая подсказка #}
                                        {% if chunks.product_info.content %}
                                            <div class="tooltip">
                                                <button class="tooltip__btn" type="button">
                                                    <img src="{% static 'img/warning.svg' %}" alt="Подсказка">
                                                </button>
                                                <div class="tooltip__content tooltip__content--posleft-pc tooltip__content--posbottom-xs">
                                                    <button class="tooltip__close" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
                                                            <title>Закрыть</title>
                                                            <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                                                                <g id="КАРТОЧКА-товара-Однопольная---1" transform="translate(-1806.000000, -600.000000)" stroke="#979797" stroke-width="3">
                                                                    <g id="ОПИСАНИЕ-ТОВАРА" transform="translate(1203.000000, 363.000000)">
                                                                        <g id="Информация-об-оплате" transform="translate(2.000000, 222.005859)">
                                                                            <g id="Подсказка" transform="translate(261.000000, 0.000000)">
                                                                                <g id="Group" transform="translate(342.000000, 16.994141)">
                                                                                    <line x1="0.315789474" y1="0.315789474" x2="11.6842105" y2="11.6842105" id="Line-2"/>
                                                                                    <line x1="0.315789474" y1="0.315789474" x2="11.6842105" y2="11.6842105" id="Line-2" transform="translate(6.000000, 6.000000) scale(-1, 1) translate(-6.000000, -6.000000) "/>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                    <div class="tooltip__text">
                                                        {{ chunks.product_info.content }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a class="btn btn--accent product__sidebar-btn modal-open order-text-init-js" href="#order-modal">
                                       <span>
                                           Отправить заявку
                                       </span>
                                    </a>
                                    <div class="modal mfp-hide mfp-anim" id="order-modal">
                                        <div class="modal__header">
                                            <h3 class="modal__title">
                                                Оформить заявку
                                            </h3>
                                            <span class="modal__subtitle modal__subtitle--min order-text-js"></span>
                                        </div>
                                        <!--noindex-->
                                            {% show_feedback 'order' %}
                                        <!--/noindex-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-custom-x-shadow--xs">
                        <ul class="menu-other scroll-custom-x-hidden--xs product__sidebar-nav">
                            {% if parameters %}
                            <li class="menu-other__item">
                                <a class="menu-other__link anchor-link anchor-link-m20" href="#product-options">
                                    <span>
                                        Опции
                                    </span>
                                </a>
                            </li>
                            {% endif %}

                            {% if object.description %}
                            <li class="menu-other__item">
                                <a class="menu-other__link anchor-link" href="#product-description">
                                    <span>
                                        Описание
                                    </span>
                                </a>
                            </li>
                            {% endif %}

                            {% if delivery_moscow or delivery_russia or installation or service %}
                            <li class="menu-other__item">
                                <a class="menu-other__link anchor-link" href="#product-services">
                                    <span>
                                        Услуги
                                    </span>
                                </a>
                            </li>
                            {% endif %}

                            {% if item_type.docs %}
                            <li class="menu-other__item">
                                <a class="menu-other__link anchor-link" href="#product-documents">
                                    <span>
                                        Документы
                                    </span>
                                </a>
                            </li>
                            {% endif %}

                            {% if side_images and show_interior_sample %}
                            <li class="menu-other__item">
                                <a class="menu-other__link anchor-link" href="#product-interior">
                                    <span>
                                        Пример в интерьере
                                    </span>
                                </a>
                            </li>
                            {% endif %}

                            {% get_inherited_field object 'door_samples' as  door_samples %}
                            {% if door_samples %}
                            <li class="menu-other__item">
                                <a class="menu-other__link anchor-link" href="#product-samples">
                                    <span>
                                        Фото готовых изделий
                                    </span>
                                </a>
                            </li>
                            {% endif %}

                            {% get_similar_products object as product_list %}
                            {% if product_list %}
                            <li class="menu-other__item">
                                <a class="menu-other__link anchor-link" href="#product-other">
                                    <span>
                                        Похожие товары
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </aside>

            {% get_basic_parameters object as basic_parameters %}
            {% if basic_parameters or add_parameters %}
                <section class="section-default section-default--top product__section product-grid-8 product-grid-12--xs" id="product-options">
                    <div class="title-content">
                        <h3 class="title">
                            Опции двери
                        </h3>
                    </div>
                    <div class="product__options">
                        {% if basic_parameters %}
                        <div class="product__option">
                            <h4 class="product__option-title">
                                Входит в базовую конструкцию:
                            </h4>
                            <div class="slider__header">
                                <div class="slider__nav slider__nav--visibility slider__nav--right slider__nav--left-xs slider__minnav product__option-nav">
                                    <button class="slider__nav-arrow slider__minnav-arrow slider__nav-arrow--nothidden slider__nav-prev">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" viewBox="0 0 44 44" version="1.1">
                                            <title>Предыдущий слайд</title>
                                            <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="ГЛАВНАЯ-4-Copy" transform="translate(-1184.000000, -905.000000)" fill="#C8C8C8" fill-rule="nonzero">
                                                    <g id="МЫ-ПРОИЗВОДИМ" transform="translate(-271.000000, 700.000000)">
                                                        <g id="nav-back-hover" transform="translate(272.000000, 202.000000)">
                                                            <path d="M1205,3 C1192.8491,3 1183,12.849098 1183,25 C1183,37.150902 1192.8491,47 1205,47 C1217.14946,47 1227,37.150902 1227,25 C1227,12.849098 1217.1509,3 1205,3 Z M1211.237,34.791366 C1211.77463,35.329 1211.77463,36.199366 1211.237,36.7355621 C1210.69937,37.2718301 1209.829,37.2718301 1209.29273,36.7355621 L1198.76437,26.207268 C1198.43437,25.877268 1198.33263,25.426268 1198.40827,24.998634 C1198.33263,24.572366 1198.43573,24.12 1198.76437,23.79 L1209.29273,13.261634 C1209.83044,12.724 1210.70073,12.724 1211.237,13.261634 C1211.77463,13.7978301 1211.77463,14.669634 1211.237,15.2058301 L1201.44427,25 L1211.237,34.791366 Z"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </button>
                                    <button class="slider__nav-arrow slider__minnav-arrow slider__nav-arrow--nothidden slider__nav-next">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" viewBox="0 0 44 44" version="1.1">
                                            <title>Следующий слайд</title>
                                            <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="ГЛАВНАЯ-4-Copy" transform="translate(-1184.000000, -905.000000)" fill="#C8C8C8" fill-rule="nonzero">
                                                    <g id="МЫ-ПРОИЗВОДИМ" transform="translate(-271.000000, 700.000000)">
                                                        <g id="nav-back-hover" transform="translate(272.000000, 202.000000)">
                                                            <path d="M1205,3 C1192.8491,3 1183,12.849098 1183,25 C1183,37.150902 1192.8491,47 1205,47 C1217.14946,47 1227,37.150902 1227,25 C1227,12.849098 1217.1509,3 1205,3 Z M1211.237,34.791366 C1211.77463,35.329 1211.77463,36.199366 1211.237,36.7355621 C1210.69937,37.2718301 1209.829,37.2718301 1209.29273,36.7355621 L1198.76437,26.207268 C1198.43437,25.877268 1198.33263,25.426268 1198.40827,24.998634 C1198.33263,24.572366 1198.43573,24.12 1198.76437,23.79 L1209.29273,13.261634 C1209.83044,12.724 1210.70073,12.724 1211.237,13.261634 C1211.77463,13.7978301 1211.77463,14.669634 1211.237,15.2058301 L1201.44427,25 L1211.237,34.791366 Z"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="product__option-slider product__option--slider slider__shadow">
                                {% for param in basic_parameters %}
                                    {% if not param.property.show_on_item_desc and param.value != None %}
                                        <div class="product__option-item">
                                            <div class="product__option-item__content">
                                                <span class="product__option-item__name product__option-base-js">
                                                    {% if param.value.option_name %}
                                                        {{ param.value.option_name }}
                                                    {% else %}
                                                        {{ param.property }} {{ param.value }}
                                                    {% endif %}
                                                </span>

                                                {% get_images for param.value as value_img %}
                                                {% if value_img %}
                                                    <div class="product__option-item__preview">
                                                        <img src="{{ value_img.0.productoption.url }}" alt="{{ value_img.0.title }}" title="{{ value_img.0.title }}">
                                                    </div>
                                                {% endif %}

                                                {% if param.value.description %}
                                                    <span class="product__option-item__info">
                                                        {{ param.value.description }}
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if add_parameters %}
                        <div class="product__option">
                            <h4 class="product__option-title">
                                Добавить опции:
                            </h4>
                            <div class="slider__header">
                                <div class="slider__nav slider__nav--visibility slider__nav--right slider__nav--left-xs slider__minnav product__option-nav">
                                    <button class="slider__nav-arrow slider__minnav-arrow slider__nav-arrow--nothidden slider__nav-prev">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" viewBox="0 0 44 44" version="1.1">
                                            <title>Предыдущий слайд</title>
                                            <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="ГЛАВНАЯ-4-Copy" transform="translate(-1184.000000, -905.000000)" fill="#C8C8C8" fill-rule="nonzero">
                                                    <g id="МЫ-ПРОИЗВОДИМ" transform="translate(-271.000000, 700.000000)">
                                                        <g id="nav-back-hover" transform="translate(272.000000, 202.000000)">
                                                            <path d="M1205,3 C1192.8491,3 1183,12.849098 1183,25 C1183,37.150902 1192.8491,47 1205,47 C1217.14946,47 1227,37.150902 1227,25 C1227,12.849098 1217.1509,3 1205,3 Z M1211.237,34.791366 C1211.77463,35.329 1211.77463,36.199366 1211.237,36.7355621 C1210.69937,37.2718301 1209.829,37.2718301 1209.29273,36.7355621 L1198.76437,26.207268 C1198.43437,25.877268 1198.33263,25.426268 1198.40827,24.998634 C1198.33263,24.572366 1198.43573,24.12 1198.76437,23.79 L1209.29273,13.261634 C1209.83044,12.724 1210.70073,12.724 1211.237,13.261634 C1211.77463,13.7978301 1211.77463,14.669634 1211.237,15.2058301 L1201.44427,25 L1211.237,34.791366 Z"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </button>
                                    <button class="slider__nav-arrow slider__minnav-arrow slider__nav-arrow--nothidden slider__nav-next">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" viewBox="0 0 44 44" version="1.1">
                                            <title>Следующий слайд</title>
                                            <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="ГЛАВНАЯ-4-Copy" transform="translate(-1184.000000, -905.000000)" fill="#C8C8C8" fill-rule="nonzero">
                                                    <g id="МЫ-ПРОИЗВОДИМ" transform="translate(-271.000000, 700.000000)">
                                                        <g id="nav-back-hover" transform="translate(272.000000, 202.000000)">
                                                            <path d="M1205,3 C1192.8491,3 1183,12.849098 1183,25 C1183,37.150902 1192.8491,47 1205,47 C1217.14946,47 1227,37.150902 1227,25 C1227,12.849098 1217.1509,3 1205,3 Z M1211.237,34.791366 C1211.77463,35.329 1211.77463,36.199366 1211.237,36.7355621 C1210.69937,37.2718301 1209.829,37.2718301 1209.29273,36.7355621 L1198.76437,26.207268 C1198.43437,25.877268 1198.33263,25.426268 1198.40827,24.998634 C1198.33263,24.572366 1198.43573,24.12 1198.76437,23.79 L1209.29273,13.261634 C1209.83044,12.724 1210.70073,12.724 1211.237,13.261634 C1211.77463,13.7978301 1211.77463,14.669634 1211.237,15.2058301 L1201.44427,25 L1211.237,34.791366 Z"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="product__option-slider product__option--slider slider__shadow">
                                {% for param in add_parameters %}
                                    {% if param.values.all %}
                                        {% for value in param.values.all %}
                                            <div class="product__option-item">
                                                <div class="product__option-checkbox">
                                                    <label class="product__option-checkbox__label">
                                                        <input class="product__option-checkbox__input price-change-js" type="checkbox" value="{% if value.option_name %}{{ value.option_name }}{% else %}{{ param.property }} {{ value.name }}{% endif %}" data-price-change="{{ value.extra_charge|default:'0' }}">
                                                        <div class="product__option-checkbox__content product__option-item__content">
                                                            <span class="product__option-item__name">
                                                                {% if value.option_name %}
                                                                    {{ value.option_name }}
                                                                {% else %}
                                                                    {{ param.property }} {{ value.name }}
                                                                {% endif %}
                                                            </span>
                                                            <div class="product__option-checkbox__title">
                                                                <div class="product__option-checkbox__icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="11px" viewBox="0 0 14 11" version="1.1">
                                                                        <title>Выбрать</title>
                                                                        <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <g id="КАРТОЧКА-товара-Однопольная---1" transform="translate(-819.000000, -945.000000)" stroke="#303030" stroke-width="2">
                                                                                <g id="Вид-внтури" transform="translate(766.000000, 349.000000)">
                                                                                    <g id="Отделка-внутри" transform="translate(0.000000, 526.000000)">
                                                                                        <g id="Рисунок-внутри" transform="translate(0.000000, 28.000000)">
                                                                                            <g id="Float" transform="translate(50.000000, 36.000000)">
                                                                                                <polyline id="Check" points="4.5 11.5 8 15 16 7"/>
                                                                                            </g>
                                                                                        </g>
                                                                                    </g>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                                {% if value.extra_charge %}
                                                                    <div class="product__option-item__price">
                                                                        + <span>{{ value.extra_charge }}</span> руб.
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            {% get_images for value as value_img %}
                                                            {% if value_img %}
                                                                <div class="product__option-item__preview">
                                                                    <img src="{{ value_img.0.productoption.url }}" alt="{{ value_img.0.title }}" title="{{ value_img.0.title }}">
                                                                </div>
                                                            {% endif %}
                                                            {% if value.description %}
                                                                <span class="product__option-item__info">
                                                                    {{ param.value.description }}
                                                                </span>
                                                            {% endif %}
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </section>
            {% endif %}

            {% if object.description %}
                <section class="section-default section-default--top product__section product-grid-8 product-grid-12--xs" id="product-description">
                    <div class="title-content">
                        <h3 class="title">
                            Описание
                        </h3>
                    </div>
                    <div class="product-description">
                        <div class="product-description__top placeholder mfp-gallery">
                            {% show_block_content object.description %}
                        </div>
                    </div>
                </section>
            {% endif %}

            {% if delivery_moscow or delivery_russia or installation or service %}
                <section class="product__section product-grid-8 product-grid-12--xs" id="product-services">
                    <div class="product-services__container">
                    <div class="title-content title-content--top">
                        <h3 class="title title--lightgrey title--nomargin title--nodots">
                            Услуги
                        </h3>
                    </div>
                        <div class="product-services__list">
                            {% if delivery_moscow %}
                                <div class="product-services__item">
                                    <a class="product-services__link _slide">
                                        <span class="product-services__count">
                                            1
                                        </span>
                                        Доставка по Москве и Московской области
                                    </a>
                                    <div class="product-services__content _slide-target">
                                        <div class="product-services__content-box scroll-custom-y placeholder mfp-gallery">
                                            {{ delivery_moscow|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if delivery_russia %}
                                <div class="product-services__item">
                                    <a class="product-services__link _slide">
                                        <span class="product-services__count">
                                            2
                                        </span>
                                        Доставка по России
                                    </a>
                                    <div class="product-services__content _slide-target">
                                        <div class="product-services__content-box scroll-custom-y placeholder mfp-gallery">
                                            {{ delivery_russia|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if installation %}
                                <div class="product-services__item">
                                    <a class="product-services__link _slide">
                                        <span class="product-services__count">
                                            3
                                        </span>
                                        Установка
                                    </a>
                                    <div class="product-services__content _slide-target">
                                        <div class="product-services__content-box scroll-custom-y placeholder mfp-gallery">
                                            {{ installation|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if service %}
                                <div class="product-services__item">
                                    <a class="product-services__link _slide">
                                        <span class="product-services__count">
                                            4
                                        </span>
                                        Гарантия
                                    </a>
                                    <div class="product-services__content _slide-target">
                                        <div class="product-services__content-box scroll-custom-y placeholder mfp-gallery">
                                            {{ service|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            {% endif %}

            {% if item_type.docs.all %}
                <section class="section-default section--overflow section-default--top product__section product-grid-8 product-grid-12--xs" id="product-documents">
                    <div class="title-content">
                        <h3 class="title">
                            Документы
                        </h3>
                    </div>
                    <div class="slider__header">
                        <div class="slider__nav slider__nav--right slider__nav--left-xs slider__minnav">
                            <button class="slider__nav-arrow slider__minnav-arrow slider__nav-prev">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" viewBox="0 0 44 44" version="1.1">
                                    <title>Предыдущий слайд</title>
                                    <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ГЛАВНАЯ-4-Copy" transform="translate(-1184.000000, -905.000000)" fill="#C8C8C8" fill-rule="nonzero">
                                            <g id="МЫ-ПРОИЗВОДИМ" transform="translate(-271.000000, 700.000000)">
                                                <g id="nav-back-hover" transform="translate(272.000000, 202.000000)">
                                                    <path d="M1205,3 C1192.8491,3 1183,12.849098 1183,25 C1183,37.150902 1192.8491,47 1205,47 C1217.14946,47 1227,37.150902 1227,25 C1227,12.849098 1217.1509,3 1205,3 Z M1211.237,34.791366 C1211.77463,35.329 1211.77463,36.199366 1211.237,36.7355621 C1210.69937,37.2718301 1209.829,37.2718301 1209.29273,36.7355621 L1198.76437,26.207268 C1198.43437,25.877268 1198.33263,25.426268 1198.40827,24.998634 C1198.33263,24.572366 1198.43573,24.12 1198.76437,23.79 L1209.29273,13.261634 C1209.83044,12.724 1210.70073,12.724 1211.237,13.261634 C1211.77463,13.7978301 1211.77463,14.669634 1211.237,15.2058301 L1201.44427,25 L1211.237,34.791366 Z"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                            <button class="slider__nav-arrow slider__minnav-arrow slider__nav-next">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" viewBox="0 0 44 44" version="1.1">
                                    <title>Следующий слайд</title>
                                    <g id="Desktop-1920-px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="ГЛАВНАЯ-4-Copy" transform="translate(-1184.000000, -905.000000)" fill="#C8C8C8" fill-rule="nonzero">
                                            <g id="МЫ-ПРОИЗВОДИМ" transform="translate(-271.000000, 700.000000)">
                                                <g id="nav-back-hover" transform="translate(272.000000, 202.000000)">
                                                    <path d="M1205,3 C1192.8491,3 1183,12.849098 1183,25 C1183,37.150902 1192.8491,47 1205,47 C1217.14946,47 1227,37.150902 1227,25 C1227,12.849098 1217.1509,3 1205,3 Z M1211.237,34.791366 C1211.77463,35.329 1211.77463,36.199366 1211.237,36.7355621 C1210.69937,37.2718301 1209.829,37.2718301 1209.29273,36.7355621 L1198.76437,26.207268 C1198.43437,25.877268 1198.33263,25.426268 1198.40827,24.998634 C1198.33263,24.572366 1198.43573,24.12 1198.76437,23.79 L1209.29273,13.261634 C1209.83044,12.724 1210.70073,12.724 1211.237,13.261634 C1211.77463,13.7978301 1211.77463,14.669634 1211.237,15.2058301 L1201.44427,25 L1211.237,34.791366 Z"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="documents__slider documents--slider slider__shadow slider__shadow--active mfp-gallery">
                        {% for doc in item_type.docs.all %}
                            {% if doc.images.all %}
                                {% for image in doc.images.all %}
                                    <div class="documents__slider-item documents__item">
                                        <div class="documents__item-content">
                                            <a class="documents__item-preview" href="{{ image.watermarkpicture.url }}">
                                                <img src="{{ image.documents.url }}" alt="{{ doc.name }}" title="{{ doc.name }}">
                                            </a>
                                            <div class="documents__item-text">
                                                {{ doc.description|safe }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </div>

        {% if side_images and show_interior_sample %}
            <section class="product__interior section--overflow" id="product-interior">
                <div class="product__interior-bg">
                    <div class="product__interior-item active" data-bg="white">
                        <div class="product__interior-top">
                            <img src="{% static 'img/bg-white.jpg' %}" alt="Белый фон">
                        </div>
                        <div class="product__interior-bottom">
                            <img src="{% static 'img/bg-white-bottom.jpg' %}" alt="Белый фон">
                        </div>
                    </div>
                    <div class="product__interior-item" data-bg="dark">
                         <div class="product__interior-top">
                             <img src="{% static 'img/bg-dark.jpg' %}" alt="Темный фон">
                         </div>
                        <div class="product__interior-bottom">
                            <img src="{% static 'img/bg-dark-bottom.jpg' %}" alt="Белый фон">
                        </div>
                    </div>
                </div>
                <div class="container product__interior-container">
                    <div class="product__interior-content">
                        <h3 class="product__interior-title">
                            Пример
                        </h3>
                        <span class="product__interior-subtitle">
                            в интерьере
                        </span>

                        <ul class="product__interior-option">
                            <li class="product__interior-option__item white active" data-target-bg="white"></li>
                            <li class="product__interior-option__item dark" data-target-bg="dark"></li>
                        </ul>
                    </div>
                    <div class="product__interior-preview">
                        {% for object in side_images %}
                            <div class="product__interior-preview__img {% if forloop.first %}active{% endif %}" data-product-color="{{ forloop.counter }}">
                                <div class="product__interior-preview__wrapper">
                                    <img src="{{ object.outside.productinterior.url }}" alt="{{ object.color.name }}" title="{{ object.color.name }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}


        {% if door_samples %}
            {% get_page door_samples as gallery %}
            {% get_images for gallery as images %}
            {% if images %}
                <section class="section-default section--grey gallery__slider--margin mfp-gallery" id="product-samples">
                    {% include 'parts/door_samples.html' %}
                </section>
            {% endif %}
        {% endif %}

        {% if product_list %}
            <section class="section-default section--overflow" id="product-other">
                <div class="container">
                    <div class="title-content">
                        <h3 class="title">
                            Похожие товары
                        </h3>
                    </div>
                </div>
                {% include 'catalog/parts/slider_cards.html' %}
            </section>
        {% endif %}

        {% include 'parts/individual_calculation.html' %}

        {% if object.bottom_content %}
            <section class="section-default section--overflow">
                <div class="container">
                    <div class="placeholder mfp-gallery">
                        {% show_block_content object.bottom_content %}
                    </div>
                </div>
            </section>
        {% endif %}

        {# Статьи родительского раздела #}
        {% with articles=object.tree.get.parent.content_object.articles.all|slice:':4' %}
        {% if articles %}
            <section class="section-default section--overflow">
                <div class="container">
                    <h2 class="h2 title-default--mtop0">
                        Читайте также:
                    </h2>
                    <div class="articles__slider articles--slider swiper">
                        <div class="articles__slider-wrapper grid swiper-wrapper">
                            {% for obj in articles %}
                                <div class="articles__slider-item grid__item-3 swiper-slide">
                                    {% include 'pages/parts/article_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
        {% endwith %}

    {% endwith %}
{% endblock %}